:root {
    --bg-color: #f1f1f1;
    --element-color: #ffffff;
    --text-color: #111517;
    --shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    width: 100px;
    height: auto;
    position: relative;
    left: 20px;
}

/* Header */
header {
    background-color: var(--element-color);
    box-shadow: var(--shadow);
    padding: 20px 0;
    margin-bottom: 40px;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.logo:hover {
    transform: translateY(-5px);
}

header h2 {
    width: 100px;
}

header nav {
    display: flex;
}


.has-favorites {
    color: #ff4757;
    transition: color 0.3s ease;
}

#fav-count {
    background-color: #eee;
    color: #333;
    padding: 2px 8px;
    border-radius: 12px;
    margin-left: 5px;
    font-size: 0.9rem;
    transition: all 0.3s;
}

.favorites {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.filter input {
    padding: 15px;
    width: 95%;
    box-sizing: border-box;
    border: none;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.input {
    display: flex;
    justify-content: space-between;
    width: 95%;
    gap: 20px;
}

select {
    padding: 15px;
    width: 95%;
    box-sizing: border-box;
    border: none;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding-bottom: 40px;
}

.country-card {
    background-color: var(--element-color);
    border-radius: 8px;
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.country-card:hover {
    transform: translateY(-5px);
}

.country-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-info {
    padding: 20px;
}

.hidden {
    display: none !important;
}

.fav-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    float: right;
}


#loading {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2rem;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--element-color);
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #1f1f1f;
    font-size: 0.9rem;
    color: #aaa;
}

.modal-flag {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.map-btn:hover {
    background-color: #3367D6;
}