:root {
    --bg-color: #f1f1f1;
    --element-color: #ffffff;
    --text-color: #111517;
    --shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: var(--element-color);
    box-shadow: var(--shadow);
    padding: 20px 0;
    margin-bottom: 40px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;

}

.filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

input, select {
    padding: 15px;
    width: 95%;
    box-sizing: border-box;
    border: none;
    box-shadow: var(--shadow);
    border-radius: 5px;
}

/* select {
    padding: 15px;
    width: 93%;
    border: none;
    box-shadow: var(--shadow);
    border-radius: 5px;
    background: var(--element-color);
} */


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding-bottom: 40px;
}


.country-card {
    background-color: var(--element-color);
    border-radius: 5px;
    box-shadow: var(--shadow);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.country-card:hover {
    transform: translateY(-5px);
}

.country-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-info {
    padding: 20px;
}


.hidden {
    display: non;
}


.card-body {
    background-color: #fff;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 10px;
    width: 90%;
    height: 150px;
    align-items: center;
    box-shadow: var(--shadow);
}

.card-body img {
    width: 120px;
    transform: translateY(-15px);
    margin-left: 15px;
    margin-right: 5px;
}

.card-body h1,
p {
    margin: 0 0 5px 0;
}

.card-body h4 {
    transform: translateX(-10px) translateY(-50px);
    text-align: center;
    margin: 0;
}







footer p {
    text-align: center;
}